<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.human_design_title[site.active_lang] | escape }}</a>

    <nav class="site-nav">
      {% for link in site.data.navigation.main[site.active_lang] %}
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}">{{ link.title[site.active_lang] }}</a>
      {% endfor %}
    </nav>

  </div>

</header>
