<script>

function getSubscriberId() {
    const params = new URLSearchParams(window.location.search);
    return params.get("subscriber_id");
}

document.getElementById('consultation-form').addEventListener('submit', function(event) {
    event.preventDefault(); 
    
    let formData = {
        name: document.getElementById('name').value,
        contact: document.getElementById('contact').value,
        social: document.getElementById('social').value
    };
    
    const subscriberId = getSubscriberId();
    if (subscriberId) {
        formData.subscriberId = subscriberId;
    }

    fetch('https://manychat-hd-proxy-server-1.onrender.com/submit-form', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(formData)
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert("Получил! До связи");
        } else {
            alert("Что-то пошло не так" + data.error);
        }
    })
    .catch(error => {
        console.error("Ошибка соединения:", error);
        alert("Ошибка соединения");
    });
});
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const scrollButton = document.getElementById("scroll-to-form");
    scrollButton.addEventListener("click", function(event) {
        event.preventDefault();
        const form = document.getElementById("consultation-form");
        form.scrollIntoView({
            behavior: "smooth", 
            block: "start"
        });
    });
});
</script>