<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

      <!-- Language Selection Menu -->
      <div class="site-header">
        {% for tongue in site.languages %}
        <a 
        {% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %} 
        {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %}>
        {{ tongue }}
      </a>
      {%- if forloop.last == false -%}{{" "}}{{ site.langsep }}{%- endif -%}
    {% endfor %}
    </div>
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
