<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

     <!-- Language Selection Menu -->
        <nav class="language-menu">
          {% for lang in site.polyglot.languages %}
              {% assign lang_path = site.baseurl | append: '/' | append: lang %}
              <a href="{{ lang_path }}" class="language-link {% if page.lang == lang %}active{% endif %}">
                  {{ lang | upcase }}
              </a>
          {% endfor %}
        </nav>
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
